
//
// VARIABLES
//

// Colors
$blue: #244D75;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$grayBlue: #585c7a;
$fuchsia: #e620c8;
$red: #Be2548;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$gillSans: Gill Sans, sans-serif;
$segoe: "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}